body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  margin: 0;
  background-color: #383838;
  font-family: 'Overpass', sans-serif;
  font-size: 14.5px;
}

.logo {
  width: 50px;
  height: 100%;
}

.user-btns {
  display: flex;
  align-items: center;
  width: 300px;
}

.user-btns * {
  padding: 10px;
}

#navbar-profile-image {
  width: 30px; height: 30px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

#navbar-user-link {
  padding: 0 10px 0 0;
}

#navbar-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

.navbar a:not(:first-child), #upload-button, .user-btns * {
  text-decoration: none;
  text-align: center;
} 

.navbar a:not(:first-child), #upload-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  vertical-align: middle;
  text-align: center;
  width: 110px;
  height: 100%;
  color: #C8C8C8;
}

#upload-button {
  background-color: #383838;
  border: none;
}

.navbar > a:not(:first-child):hover {
  color: whitesmoke;
}

.user-btns * {
  vertical-align: middle;
  text-align: center;
  width: 110px;
  height: 100%;
  color: #C8C8C8;
  background-color: #383838;
  border: none;
}

.user-btns *:hover {
  color: whitesmoke;
}

#upload-button, .user-btns *:focus {
  outline: none;
}

.session-btns, .user-btns {
  width: 200px;
  display: flex;
}

.session-btns button {
  color: white;
  padding: 5px 8px 5px 8px;
  margin-right: 15px;
}

.session-btns button:first-child {
  background-color: #383838;
  border: 1px solid gray;
  border-radius: 3px;
}

.session-btns button:focus {
  outline: none;
}

.session-btns button:first-child:hover {
  border-color: lightgray;
}

.session-btns button:nth-child(2) {
  background-color: #FF4500;
  border: none;
  border-radius: 3px;
}

/* for form */

.navbar form {
  padding: 0 8px 0 8px;
}

.navbar form input[type="text"] {
  padding: 5px;
  width: 425px;
  border: none;
  border-radius: 5px;
  background-color: #E0E0E0;
  color: #383838;
  font-size: 15px;
}

.navbar form input[type="text"]:focus {
  outline: none;
}

.navbar ::placeholder {
  color: gray;
}

#logout-button {
  margin-left: 10px;
}

#logout-button:hover {
  cursor: pointer;
}