#search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 50px;
  background: white;
}

#search-page *:focus {
  outline: none;
}

#search-header {
  width: 95%;
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #e5e5e5;
}

#search-header span {
  font-size: 25px;
  color: #333333;
}

#search-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#search-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 17%;
  padding-bottom: 10px;
  border-bottom: solid 1px #e5e5e5; 
}

#search-categories span {
  margin-left: 6px;
}

#search-categories > * {
  position: relative;
  width: 85%;
  text-align: start;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  padding: 3px 10px;
  margin-bottom: 5px;
  border: none;
}

#search-categories > button:hover {
  cursor: pointer;
}

.selected-category {
  color: white;
  background-color: #FF4500;
}

.selected-category:after {
  content: '';
  position: absolute;
  width: 0; height: 0;
  left: 100%; top: 0;
  border: 15px solid transparent;
  border-left: 15px solid #FF4500;
}

.unselected-category {
  color: black;
  background-color: white;
}

#search-content {
  width: 77%;
}