#show-page {
  width: 960px;
  margin: 0 auto;
  background: rgb(89,89,89);
  background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgba(0,0,0,1) 100%);
}

#show-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
}

#show-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 700px;
  margin-top: 45px;
  font-family: 'Overpass', sans-serif;
  color: white;
}

#show-header-content .play-button {
  margin-left: 20px;
  font-size: 80px;
  background: transparent;
}

#show-header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

#show-header-info div:nth-child(2) {
  font-size: 25px;
  width: 400px;
}

#show-header-info * {
  margin-top: 5px;
}

#show-header-info span {
  background-color: black;
}

#show-header-image img {
  width: 200px;
  height: 200px;
  margin: 25px;
}

#show-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 49px;
}

#input-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}

#input-body *:focus {
  outline: none;
}

#comment-form {
  width: 800px;
  background-color: #f2f2f2;
  border: solid 1px #e5e5e5;
  padding: 8px;
  margin-right: 20px;
}

#comment-form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height: 35px;
  border: solid 1px #e5e5e5;
  padding: 0 10px;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
}

#input-body button, #show-user-info button {
  width: 80px;
  padding: 10px 0;
  background-color: white;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
}

#input-body button:hover, #show-user-info button:hover {
  cursor: pointer;
}

#show-body-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 960px;
  margin-top: 20px;
  margin-bottom: 55px;
}

#show-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  font-family: 'Overpass', sans-serif;
  margin: 5px 20px;
}

#show-user-info > * {
  margin-bottom: 10px;
}

#show-user-info .default-user-medallion {
  width: 120px; height: 120px;
  background: rgb(79,79,79);
  background: linear-gradient(90deg, rgba(79,79,79,1) 0%, rgba(145,68,4,1) 76%, rgba(189,81,19,1) 95%);
  border: none;
  border-radius: 50%;
}

#show-slap-content * {
  font-family: 'Overpass', sans-serif;
}

#show-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 725px;
  padding: 0 10px 20px 0;
}

#show-likes {
  font-size: 14px;
  color: #999999;
  padding: 5px 0;
}

#show-likes:hover {
  color: #666666;
}

#show-comments-header {
  color: #999999;
  border-bottom: solid 1px #e5e5e5;
}