dex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slap-index-section {
  margin-top: 30px;
  margin-left: 100px;
  border-bottom: 1px solid #e6e6e6;
}

.slap-index-section .slap-item {
  width: 900px;
}

.slap-carousel {
  width: 900px;
  margin-bottom: 30px;
}

.carousel-header {
  font-size: 20px;
}

.carousel-subheader {
  color: #888888;
  margin-bottom: 10px;
}

.slap-carousel-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.slap-carousel-content > * {
  margin-right: 15px;
}

.slap-carousel-content > *:first-child {
  margin-left: 400px;
}